<%- include('../partials/header') %>
<h4> Registered Teams </h4>
<div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
<div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
<% teams.forEach(function(t) { %>
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
        <h3 class="uk-card-title"><%= t.name %></h3>
        <p><%= t.aboutTeam %></p>
        <div class="uk-card-footer">
            <a href="/teams/edit/<%= t.id%>/" class="card-link">Edit Team</a><br>
            <a href="/teams/<%= t.id%>/" class="card-link">View/Add Players</a>
            <form method="POST" action="/teams/delete/<%= t.id%>/?_method=DELETE"><button type="submit">delete</form>
        </div>
    </div>

<% }) %>
</div>
</div>
<%- include('../partials/footer') %>